In [1]:
import os
import pandas as pd

In [8]:
hard_case = os.listdir("./hard_case/")
normal_case = os.listdir("./normal_case/")
hard_case_no_gesture = os.listdir("./no_gesture_50/")
normal_case_no_gesture = os.listdir("./no_gesture_100/")

In [16]:
h_dict = {"name": [], "label" : []}
n_dict = {"name": [], "label" : []}
a_dict = {"name": [], "label" : []}

In [17]:
for e in hard_case:
    h_dict["name"].append(e)
    h_dict["label"].append(1)
for e in hard_case_no_gesture:
    h_dict["name"].append(e)
    h_dict["label"].append(0)
    
for e in normal_case:
    n_dict["name"].append(e)
    n_dict["label"].append(1)
for e in normal_case_no_gesture:
    n_dict["name"].append(e)
    n_dict["label"].append(0)


for e in hard_case:
    a_dict["name"].append(e)
    a_dict["label"].append(1)
for e in normal_case:
    a_dict["name"].append(e)
    a_dict["label"].append(1)
for e in hard_case_no_gesture:
    a_dict["name"].append(e)
    a_dict["label"].append(0)
for e in normal_case_no_gesture:
    a_dict["name"].append(e)
    a_dict["label"].append(0)

In [18]:
df_hard = pd.DataFrame(h_dict)
df_normal = pd.DataFrame(n_dict)
df_all = pd.DataFrame(a_dict)

In [19]:
df_hard

                  name  label
0   img_hod_001472.jpg      1
1   img_hod_001477.jpg      1
2   img_hod_001482.jpg      1
3   img_hod_001484.jpg      1
4   img_hod_001488.jpg      1
..                 ...    ...
95      VOC2010_69.jpg      0
96      VOC2010_71.jpg      0
97      VOC2010_86.jpg      0
98      VOC2010_94.jpg      0
99      VOC2010_99.jpg      0

[100 rows x 2 columns]

In [20]:
df_normal

                   name  label
0    img_hod_001986.jpg      1
1    img_hod_001987.jpg      1
2    img_hod_001991.jpg      1
3    img_hod_001992.jpg      1
4    img_hod_001993.jpg      1
..                  ...    ...
195      VOC2007_71.jpg      0
196      VOC2007_74.jpg      0
197      VOC2007_78.jpg      0
198      VOC2007_85.jpg      0
199      VOC2007_96.jpg      0

[200 rows x 2 columns]

In [21]:
df_all

                   name  label
0    img_hod_001472.jpg      1
1    img_hod_001477.jpg      1
2    img_hod_001482.jpg      1
3    img_hod_001484.jpg      1
4    img_hod_001488.jpg      1
..                  ...    ...
295      VOC2007_71.jpg      0
296      VOC2007_74.jpg      0
297      VOC2007_78.jpg      0
298      VOC2007_85.jpg      0
299      VOC2007_96.jpg      0

[300 rows x 2 columns]

In [22]:
df_all.to_csv("output.csv", index=False)

In [23]:
df_hard.to_csv("output_hard.csv", index=False)

In [24]:
df_normal.to_csv("output_normal.csv", index=False)